<section class="section-header">
    <h1>NIT College</h1>
    <div class="profile">
        <div class="profile-main">
            <div class="profile-image">
                <img src="https://icons-for-free.com/iconfiles/png/512/people+person+profile+user+icon-1320186207447274965.png" alt="user-icon" id="profile-img">
            </div>
            <div class="profile-body">
                <h5><%= name %></h5>
                <p>Tag: <%= role %></p>
            </div>
        </div>
        