<header>
    <div class="header-container header">
        <h1>NIT College</h1>
        <nav class="header-nav">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <!-- <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li> -->
            </ul>
        </nav>
    </div>
    <div class="header-image">
        <div class="images-slider" id="imgs">
            <img src="./images/Modern-Education.png" alt="" />
            <img src="./images/grad.jpeg" alt="" />
            <img src="https://images.unsplash.com/photo-1525571453712-090270b8354f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
        </div>
    </div>
</header>
<section class="section1">
        <div class="para1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nulla cum perferendis itaque officiis, incidunt magni omnis vel deserunt sed necessitatibus velit a eaque provident? Blanditiis eligendi repellendus ut quam!
            Sint, reprehenderit. Perferendis veritatis itaque delectus consectetur, ab sed, rem animi amet eveniet impedit quasi, accusamus unde culpa pariatur? Voluptate beatae voluptatibus eos accusamus eum commodi modi nobis incidunt animi!
            Asperiores corporis qui beatae reiciendis impedit. Debitis excepturi est dolorem laboriosam delectus distinctio, blanditiis pariatur atque asperiores sequi dicta sit. Minima sint exercitationem quos ipsum, architecto deserunt doloribus dicta voluptates?
            Modi atque distinctio ipsam doloremque eligendi odio, beatae quae sint vitae officiis minus ex aperiam magnam deserunt dolor molestias assumenda dignissimos quasi aliquam numquam suscipit placeat similique odit? At, autem?
            Recusandae asperiores, eum quo odit placeat sequi in nihil eius quas totam neque maiores ut, hic ullam possimus blanditiis, alias minus ea ab ratione consectetur sunt ipsa. Reiciendis, fugit suscipit.
            </p>
        </div>
        <div class="para2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores alias quod nihil, enim quidem sint perspiciatis illum reiciendis est nesciunt expedita esse suscipit libero deleniti, iste veritatis aut ipsam perferendis!
            Blanditiis fuga, tempora quaerat, itaque exercitationem possimus ipsa enim autem veniam eos ea. Dolore suscipit nisi molestias alias quos tempore quo itaque, laboriosam laudantium corrupti, ratione quasi eius voluptates quaerat?
            Rem dolor saepe, amet id voluptate necessitatibus minus debitis voluptatum, dignissimos optio voluptatem eveniet totam quas similique at laborum omnis nihil quisquam animi corrupti dicta. Ullam deleniti laborum perspiciatis voluptatum?
            Quae veritatis rem dolor cumque ducimus exercitationem sint accusantium quas doloribus possimus eius, laborum, sapiente nihil aliquam accusamus. Repellendus aut ipsa mollitia voluptas veniam commodi laudantium tempore ab eligendi ipsam!
            Illum rerum placeat, culpa distinctio inventore asperiores minima ipsum libero labore repellat, odit facere voluptate fuga! Rem, dolor eos possimus modi rerum, provident perferendis aspernatur odit commodi vel, molestias quasi!
            </p>
        </div>
        <div class="para3">
            <p><strong>Already have an account?</strong> </p><a type="button" class="button" href="/nit/login">Login</a>
            <p><strong>New here?</strong> </p><a type="button" class="button" href="/nit/signup">Sign Up</a>
        </div>
</section>
<footer class="footer">
    <h4>NIT College <span>&copy;</span>2021</h4>
</footer>