<!-- <div class="shadow p-3 mb-5 bg-body rounded"> -->
<section id="signup-section">
    <div class="signup-card shadow p-3 mb-5 bg-body rounded">
        <div class="card-part1">
            <h4 style="color: white;">Signup as Student</h4>
            <a type="button" class="button1" id="student-login" href="/nit/student/signup">Sign Up</a>
        </div>
        <div class="card-part2">
            <h4 style="color: royalblue;">Signup as Staff</h4>
            <a type="button" class="button" id="staff-login" href="/nit/staff/signup">Sign Up</a>
        </div>
    </div>
</section>
