<div class="shadow p-5 mb-5 bg-body rounded form" id="all-forms">
  <h4>LogIn Form</h4>
    <% if(error != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% } %>
    <% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% } %>
    <% if(error_msg != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= error_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% } %>
    <form action="/nit/student/login" method="POST">
        <div class="col-sm-12 p-3">
            <input type="number" class="form-control" name="roll" id="roll" placeholder="Enter Roll No.">
        </div>
        <div class="col-sm-12 p-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-btn mt-3">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-outline-success btn-block">Login in</button>
            </div>
            <div class="col-sm-6">
                <a href="/nit/login" class="btn btn-outline-primary btn-block">Cancel</a>
            </div>
        </div>
    </form>
    <div class="forgot">
        <h6 id="forgot-main">Forgot Password?</h6>
        <a href="/nit/student/reset">Reset now</a>
    </div>
</div>