<!-- <div class="shadow p-3 mb-5 bg-body rounded"> -->
    <%- include('../partials/header') %>
        <a href="/nit/student/logout" class="btn btn-outline-danger logout">Logout</a>
    </div> 
    </section>
    <section class="section-view">
        <h3>Want to view your details? <a href="/nit/student/info" class="bt btn-outline-warning">Click here</a></h3>
    </section>
    <section class="section-edit">
        <h3>Want to edit your details? <a href="/nit/student/edit" class="bt btn-outline-warning">Click here</a></h3>
    </section>
    